h1,
ul {
  color: white;
  -webkit-text-stroke: 2px black;
}

h1 {
  margin: 0;
}

ul {
  list-style-type: none;
}

header {
  background-image: url("images/ac-header.png");
}

.score-info {
  display: none;
}

body {
  text-align: center;
  font-family: Verdana;
  padding: 0;
  margin: 0;
  align-items: center;
  background-color: #d295ff;
  text-transform: uppercase;
}

.container {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  max-width: 800px;
  width: 90%;
  margin: 10px auto;
  display: inline-block;
}

.startQuiz {
  display: flex;
  flex-direction: column;
}

.btn {
  border: 1px solid black;
  font-family: Arial;
  border-radius: 5px;
  padding: 5px 10px;
  display: block;
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover,
.btn:active {
  background-color: #4caf50; /* Green */
  color: white;
  border: 1px #371d0d solid;
}

.imgbox {
  width: 100%;
}

.image {
  align-content: center;
}

.questions {
  display: flex;
  flex-direction: column;
}
